:root {
  --shadow-color: #FF9E9E;
  --shadow-color-light: #6D6D6D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 2px;
  background-color: #C70039;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3d3d3d;
  border-radius: 2px;
  opacity: .9;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #C70039;
  border-radius: 2px;
}

/* HEADER */

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 1px 2px 17px 10px #000000;
    border-bottom: 4px solid #C70039;
    overflow: hidden;

}

 span {
                text-transform: uppercase;
            }
            .container {
                width: 800px;
                height: 420px;
                padding: 10px;
                margin: 0 auto;
                position: relative;
            }
            .balloon {
                width: 738px;
                margin: 0 auto;
                padding-top: 30px;
                position: relative;
            }
            .balloon > div {
                width: 104px;
                height: 140px;
                background: rgba(182, 15, 97, 0.9);
                border-radius: 0;
                border-radius: 80% 80% 80% 80%;
                margin: 0 auto;
                position: absolute;
                padding: 10px;
                box-shadow: inset 17px 7px 10px rgba(182, 15, 97, 0.9);
                -webkit-transform-origin: bottom center;
            }
            .balloon > div:nth-child(1) {
                background: rgba(182, 15, 97, 0.9);
                left: 0;
                box-shadow: inset 10px 10px 10px rgba(135, 11, 72, 0.9);
                -webkit-animation: balloon1 6s ease-in-out infinite;
                -moz-animation: balloon1 6s ease-in-out infinite;
                -o-animation: balloon1 6s ease-in-out infinite;
                animation: balloon1 6s ease-in-out infinite;
            }
            .balloon > div:nth-child(1):before {
                color: rgba(182, 15, 97, 0.9);
            }
            .balloon > div:nth-child(2) {
                background: rgba(242, 112, 45, 0.9);
                left: 120px;
                box-shadow: inset 10px 10px 10px rgba(222, 85, 14, 0.9);
                -webkit-animation: balloon2 6s ease-in-out infinite;
                -moz-animation: balloon2 6s ease-in-out infinite;
                -o-animation: balloon2 6s ease-in-out infinite;
                animation: balloon2 6s ease-in-out infinite;
            }
            .balloon > div:nth-child(2):before {
                color: rgba(242, 112, 45, 0.9);
            }
            .balloon > div:nth-child(3) {
                background: rgba(45, 181, 167, 0.9);
                left: 240px;
                box-shadow: inset 10px 10px 10px rgba(35, 140, 129, 0.9);
                -webkit-animation: balloon4 6s ease-in-out infinite;
                -moz-animation: balloon4 6s ease-in-out infinite;
                -o-animation: balloon4 6s ease-in-out infinite;
                animation: balloon4 6s ease-in-out infinite;
            }
            .balloon > div:nth-child(3):before {
                color: rgba(45, 181, 167, 0.9);
            }
            .balloon > div:nth-child(4) {
                background: rgba(190, 61, 244, 0.9);
                left: 360px;
                box-shadow: inset 10px 10px 10px rgba(173, 14, 240, 0.9);
                -webkit-animation: balloon1 5s ease-in-out infinite;
                -moz-animation: balloon1 5s ease-in-out infinite;
                -o-animation: balloon1 5s ease-in-out infinite;
                animation: balloon1 5s ease-in-out infinite;
            }
            .balloon > div:nth-child(4):before {
                color: rgba(190, 61, 244, 0.9);
            }
            .balloon > div:nth-child(5) {
                background: rgba(180, 224, 67, 0.9);
                left: 480px;
                box-shadow: inset 10px 10px 10px rgba(158, 206, 34, 0.9);
                -webkit-animation: balloon3 5s ease-in-out infinite;
                -moz-animation: balloon3 5s ease-in-out infinite;
                -o-animation: balloon3 5s ease-in-out infinite;
                animation: balloon3 5s ease-in-out infinite;
            }
            .balloon > div:nth-child(5):before {
                color: rgba(180, 224, 67, 0.9);
            }
            .balloon > div:nth-child(6) {
                background: rgba(242, 194, 58, 0.9);
                left: 600px;
                box-shadow: inset 10px 10px 10px rgba(234, 177, 15, 0.9);
                -webkit-animation: balloon2 3s ease-in-out infinite;
                -moz-animation: balloon2 3s ease-in-out infinite;
                -o-animation: balloon2 3s ease-in-out infinite;
                animation: balloon2 3s ease-in-out infinite;
            }
            .balloon > div:nth-child(6):before {
                color: rgba(242, 194, 58, 0.9);
            }
            .balloon > div:before {
                color: rgba(182, 15, 97, 0.9);
                position: absolute;
                bottom: -11px;
                left: 52px;
                content:"▲";
                font-size: 1em;
            }
            span {
                font-size: 4.8em;
                color: white;
                position: relative;
                top: 30px;
                left: 50%;
                margin-left: -27px;
            }
            /*BALLOON 1 4*/
            @-webkit-keyframes balloon1 {
                0%, 100% {
                    -webkit-transform: translateY(0) rotate(-6deg);
                }
                50% {
                    -webkit-transform: translateY(-20px) rotate(8deg);
                }
            }
            @-moz-keyframes balloon1 {
                0%, 100% {
                    -moz-transform: translateY(0) rotate(-6deg);
                }
                50% {
                    -moz-transform: translateY(-20px) rotate(8deg);
                }
            }
            @-o-keyframes balloon1 {
                0%, 100% {
                    -o-transform: translateY(0) rotate(-6deg);
                }
                50% {
                    -o-transform: translateY(-20px) rotate(8deg);
                }
            }
            @keyframes balloon1 {
                0%, 100% {
                    transform: translateY(0) rotate(-6deg);
                }
                50% {
                    transform: translateY(-20px) rotate(8deg);
                }
            }
            /* BAllOON 2 5*/
            @-webkit-keyframes balloon2 {
                0%, 100% {
                    -webkit-transform: translateY(0) rotate(6eg);
                }
                50% {
                    -webkit-transform: translateY(-30px) rotate(-8deg);
                }
            }
            @-moz-keyframes balloon2 {
                0%, 100% {
                    -moz-transform: translateY(0) rotate(6deg);
                }
                50% {
                    -moz-transform: translateY(-30px) rotate(-8deg);
                }
            }
            @-o-keyframes balloon2 {
                0%, 100% {
                    -o-transform: translateY(0) rotate(6deg);
                }
                50% {
                    -o-transform: translateY(-30px) rotate(-8deg);
                }
            }
            @keyframes balloon2 {
                0%, 100% {
                    transform: translateY(0) rotate(6deg);
                }
                50% {
                    transform: translateY(-30px) rotate(-8deg);
                }
            }
            /* BAllOON 0*/
            @-webkit-keyframes balloon3 {
                0%, 100% {
                    -webkit-transform: translate(0, -10px) rotate(6eg);
                }
                50% {
                    -webkit-transform: translate(-20px, 30px) rotate(-8deg);
                }
            }
            @-moz-keyframes balloon3 {
                0%, 100% {
                    -moz-transform: translate(0, -10px) rotate(6eg);
                }
                50% {
                    -moz-transform: translate(-20px, 30px) rotate(-8deg);
                }
            }
            @-o-keyframes balloon3 {
                0%, 100% {
                    -o-transform: translate(0, -10px) rotate(6eg);
                }
                50% {
                    -o-transform: translate(-20px, 30px) rotate(-8deg);
                }
            }
            @keyframes balloon3 {
                0%, 100% {
                    transform: translate(0, -10px) rotate(6eg);
                }
                50% {
                    transform: translate(-20px, 30px) rotate(-8deg);
                }
            }
            /* BAllOON 3*/
            @-webkit-keyframes balloon4 {
                0%, 100% {
                    -webkit-transform: translate(10px, -10px) rotate(-8eg);
                }
                50% {
                    -webkit-transform: translate(-15px, 20px) rotate(10deg);
                }
            }
            @-moz-keyframes balloon4 {
                0%, 100% {
                    -moz-transform: translate(10px, -10px) rotate(-8eg);
                }
                50% {
                    -moz-transform: translate(-15px, 10px) rotate(10deg);
                }
            }
            @-o-keyframes balloon4 {
                0%, 100% {
                    -o-transform: translate(10px, -10px) rotate(-8eg);
                }
                50% {
                    -o-transform: translate(-15px, 10px) rotate(10deg);
                }
            }
            @keyframes balloon4 {
                0%, 100% {
                    transform: translate(10px, -10px) rotate(-8eg);
                }
                50% {
                    transform: translate(-15px, 10px) rotate(10deg);
                }
            }
            h1 {
                position: relative;
                top: 200px;
                text-align: center;
                color: white;
                font-size: 3.5em;
            }
            

            /* Happy Birthday Logo */

p {
   position: relative;
    top: 200px;
    left: -10px;
  font-size: 65px;
  text-transform: uppercase;
  font-family: "Archivo Black", "Archivo", sans-serif;
  font-weight: normal;
  display: block;
  height: auto;
  text-align: center;
}

.logo-1 {
  color: white;
  animation: neon 3s infinite;
}

@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
    0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
  }
  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
}

/* quote */

.quote {
  position: relative;
  top: 230px;
  font-family: 'Allura', cursive;
  text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
}

img {
 position: absolute;
 top: 460px;
}

.box {
  width: 300px;
  margin: 0 auto;
  background: #00bfb6;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-family: 'sansation_lightregular';
  text-shadow: 2px 2px 8px #000000;
  position: relative;
  top: 190px;
  right: 250px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
}

.box:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #00bfb6;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  left: -19px;
  top: 6px;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}



.header2 {
 min-height: 100vh;
 width: 100%;
 background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(bg2.png);
 background-size: cover;
 background-position: center;
 box-shadow: 1px 2px 17px 10px #000000;
 border-bottom: 4px solid #C70039;
 z-index: 2;
}

/* SLIDESHOW */

@font-face {
    font-family: 'sansation_lightregular';
    src: url('sansation_light-webfont.woff2') format('woff2'),
         url('sansation_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.dr {
 margin: 0 auto;
 position: relative;
 top: 35px;
 font-family: 'sansation_lightregular';
 text-shadow: 2px 2px 8px #000000;
}

.crossfade {
 position: relative;
 margin: 0 auto;
 top: 70px;
 width: 1000px;
 height: 600px;
 box-shadow: 1px 2px 17px 10px #000000;
 border-top: 4px solid #C70039;
 border-bottom: 4px solid #C70039;
 overflow: hidden;
}

.crossfade > figure {
 animation: imageAnimation 30s linear infinite 0s;
 backface-visibility: hidden;
 background-size: cover;
 background-position: 50% 50%;
 color: transparent;
 height: 100%;
 left: 0px;
 opacity: 0;
 position: absolute;
 top: 0px;
 width: 100%;
 z-index: 0;
}

.crossfade > figure:nth-child(1) { background-image: url('foto/1.jpg'); }

.crossfade > figure:nth-child(2) {
  animation-delay: 6s;
  background-image: url('foto/2.jpg');
  position: absolute;
  top: 0px;
}

.crossfade > figure:nth-child(3) {
  animation-delay: 12s;
  background-image: url('foto/3.jpg');
  
}

.crossfade > figure:nth-child(4) {
  animation-delay: 18s;
  background-image: url('foto/5.jpg');
  
}

@keyframes 
imageAnimation {  0% {
 animation-timing-function: ease-in;
 opacity: 0;
}
 8% {
 animation-timing-function: ease-out;
 opacity: 1;
}
 17% {
 opacity: 1
}
 25% {
 opacity: 0
}
 100% {
 opacity: 0
}
}

/* Header 3 */

.header3 {
 min-height: 100vh;
 width: 100%;
 background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(bg3.jpg);
 background-size: cover;
 background-position: center;
 box-shadow: 1px 2px 17px 10px #000000;
 border-bottom: 7px solid #C70039;
 z-index: 1;
 overflow: hidden;
}

/* Dramatic */

.dramatic {
 margin: 0 auto;
 position: relative;
 top: 70px;
 font-family: 'sansation_lightregular';
 text-shadow: 2px 2px 8px #000000;

}

/* Dramatic buttons */
.btn-container {
 text-align: center;
}

.button {
 display: flex;
 display: inline-block;
 justify-content: center;
 align-items: center;
 position: relative;
 top: 120px;
 margin: 0 auto;
 width: 220px;
 height: 80px;
 border: none;
 outline: none;
 color: #fff;
 font-size: 30px;
 background: #111;
 cursor: pointer;
 text-align: center;
 border-radius: 8px;
 font-family: 'sansation_lightregular';
 box-shadow: 1px 2px 17px 10px #000000;
 text-shadow:0px 0px 29px #ffffff;
 z-index: 0;
}

.button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.button:active {
    color: #000
}

.button:active:after {
    background: transparent;
}

.button:hover:before {
    opacity: 1;
}

.button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* MODAL */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  overflow: hidden; 
}

/* Modal Content */
.modal-content {
  background-color: rgba(36,36,36);
  opacity: 1;
  margin: auto;
  border: none;
  padding: 50px;
  width: 80%;
  box-shadow: 1px 2px 17px 10px #000000;
  border-top: 4px solid #C70039;
  border-radius: 6px;
}

.modal-content p {
 position: relative;
 top: -20px;
 font-size: 40px;
 text-align: center;
 color: #ffff;
 font-family: 'sansation_lightregular';
 text-shadow:0px 0px 29px #ffffff;
 opacity: 1;
}

/* close button container */

.close-btn-container {
 text-align: center;
 padding: 30px;
}

/* The Close Button */
#close-btn, .ran-btn {
  display: flex;
 display: inline-block;
 justify-content: center;
 align-items: center;
 position: relative;
 top: 30px;
 margin: 0 auto;
 margin-right: 30px;
 width: 180px;
 height: 60px;
 border: none;
 outline: none;
 color: #fff;
 font-size: 30px;
 background: #111;
 cursor: pointer;
 text-align: center;
 border-radius: 8px;
 font-family: 'sansation_lightregular';
 box-shadow: 1px 2px 17px 10px #000000;
 text-shadow:0px 0px 29px #ffffff;
 transition: .5s;
}

.ran-btn {
 cursor: not-allowed;
}

#close-btn:hover, .ran-btn:hover {
  box-shadow: 1px 2px 17px 10px #C70039;
  animation-delay: .5s;
}

/* Step Bro container */

.imp-container {
 position: relative;
 margin: 0 auto;
 top: -150px;
 right: 370px;
 width: 180px;
 height: 120px;
}

.imp-container:before {
 content: "Step Bro";
 color: #fff;
 text-align: center;
 line-height: 10px;
 font-size: 20px;
 font-family: 'sansation_lightregular';
}

.imp {
 position: relative;
 left: 45px;
 background: url(imp.png);
 background-repeat: no-repeat;
 width: 100%;
 height: 100px;
 display: block;
}

/* TESS */

.tess-container {
 position: relative;
 margin: 0 auto;
 top: -260px;
 left: 320px;
 width: 180px;
 height: 120px;
}

.tess-container:before {
 content: "TessxTickle";
 color: #fff;
 text-align: center;
 line-height: 10px;
 font-size: 20px;
 font-family: 'sansation_lightregular';
}

.tess {
 position: relative;
 right: 50px;
 background: url(tess.png);
 background-repeat: no-repeat;
 width: 100%;
 height: 100px;
 display: block;
 transform: scaleX(-1);
}

/* zoom-in animation */

.modal-content, .modal-content p, .imp-container, .tess-container {
 animation: zoom-in .4s;
}

@keyframes zoom-in {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}


/* Modal #2 */

.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  overflow: hidden; 
}

/* Modal Content */
.modal-content2 {
  background-color: rgba(36,36,36);
  opacity: 1;
  margin: auto;
  border: none;
  padding: 50px;
  width: 80%;
  box-shadow: 1px 2px 17px 10px #000000;
  border-top: 4px solid #C70039;
  border-radius: 6px;
}

.modal-content2 p {
 position: relative;
 top: -20px;
 font-size: 40px;
 text-align: center;
 color: white;
 font-family: 'sansation_lightregular';
 text-shadow:0px 0px 29px #ffffff;
 opacity: 1;
}

.close-btn-container2 {
 text-align: center;
 padding: 30px;
}

/* The Close Button */
#close-btn2 {
  display: flex;
 display: inline-block;
 justify-content: center;
 align-items: center;
 position: relative;
 top: 30px;
 margin: 0 auto;
 margin-right: 30px;
 width: 180px;
 height: 60px;
 border: none;
 outline: none;
 color: #fff;
 font-size: 20px;
 background: #111;
 cursor: pointer;
 text-align: center;
 border-radius: 8px;
 font-family: 'sansation_lightregular';
 box-shadow: 1px 2px 17px 10px #000000;
 text-shadow:0px 0px 29px #ffffff;
 transition: .5s;
}

#close-btn2:hover {
  box-shadow: 1px 2px 17px 10px #C70039;
}

/* Bird Person */

.bperson-container {
 position: relative;
 margin: 0 auto;
 top: -200px;
 right: 370px;
 width: 100px;
 height: 170px;
}

.bperson {
 background: url('bperson.png');
 background-repeat: no-repeat;
 width: 100%;
 height: 160px;
 display: block;
}

/* Risitas */

.risitas-container {
 position: relative;
 margin: 0 auto;
 top: -400px;
 left: 420px;
 width: 260px;
 height: 200px;
}


.risitas {
 position: relative;
 right: 50px;
 background: url(risitas.png);
 background-repeat: no-repeat;
 width: 100%;
 height: 200px;
 display: block;
}

.modal-content2, .modal-content2 p, .bperson-container, .risitas-container {
 animation: zoom-in .4s;
}

/* Message */

.message {
 position: relative;
 top: 160px;
 margin: 0 auto;
 width: 800px;
 height: 400px;
 background-color: rgb(44, 47, 51);
 border: none;
 box-shadow: 1px 2px 17px 10px #000000;
 border-top: 4px solid #C70039;
 border-radius: 2px;
}

.icon {
 background: url(icon.jpg);
 background-repeat: no-repeat;
 height: 50px;
 width: 50px;
 border-radius: 50%;
 background-position: center center;
 position: relative;
 top: 8px;
 left: 8px;
}

.icon:after {
 position: relative;
 left: 62px;
 top: 4px;
 content: "Nneeil";
 color: #fff;
 font-size: 18px;
 font-family: 'sansation_lightregular';
}

.bye {
 position: relative;
 top: 50px;
 margin: 0 auto;
 color: #ffff;
 font-size: 16px;
 font-family: 'sansation_lightregular';
 text-transform: uppercase;
 letter-spacing: 1px;
 white-space: normal;
 text-align: center;
 width: 600px;
}

.heart {
 background: url('heart.png');
 background-repeat: no-repeat;
 width: 80px;
 height: 70px;
 margin: 0 auto;
 position: relative;
 top: 100px;
 animation: float 3s ease-in-out infinite;
}